        ../.bash_history
        ../.bashrc
        ../.cache/
        ../.cargo/
        ../.config/
        ../.gitconfig
        ../.lesshst
        ../.nexus/
        ../.profile
        ../.rustup/
        ../.ssh/
        ../.viminfo
        ../.wget-hsts
        ../manage_nexus_node.sh
        ../protoc-25.0-linux-x86_64.zip
        ../protoc-25.0-linux-x86_64.zip.1
